<template>
  <div>
    <!--面包屑导航区域-->
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>

    <!--卡片视图区域-->
    <el-form style="margin-top: 15px" :inline="true">
      <!--添加角色按钮区域-->
      <el-form-item>
        <el-button type="primary" @click="showAddCateDialog"
          >添加分类</el-button
        >
      </el-form-item>
      <!--分类列表区域-->
      <tree-table
        class="treeTable"
        :data="cateList"
        :columns="columns"
        :selection-type="false"
        :expand-type="false"
        show-index
        index-text="#"
        border
        :show-row-hover="false"
      >
        <template slot="isok" scope="scope">
          <i v-if="!scope.row.cat_deleted" class="el-icon-success">有效</i>
          <i v-else class="el-icon-error">无效</i>
        </template>
        <template slot="order" scope="scope">
          <el-tag v-if="scope.row.cat_level == 0">一级</el-tag>
          <el-tag v-else-if="scope.row.cat_level == 1" type="success"
            >二级</el-tag
          >
          <el-tag v-else type="warning">三级</el-tag>
        </template>
        <template slot="operate" scope="scope">
          <el-button
            size="mini"
            type="primary"
            icon="el-icon-edit"
            @click="editCateDialog(scope.row.cat_id)"
            >编辑</el-button
          >
          <el-button
            size="mini"
            type="danger"
            icon="el-icon-delete"
            @click="delCateDialog(scope.row.cat_id)"
            >删除</el-button
          >
        </template>
      </tree-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="queryInfo.pagenum"
        :page-sizes="[3, 5, 10, 15]"
        :page-size="queryInfo.pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
      ></el-pagination>
    </el-form>
    <el-dialog
      title="添加分类"
      :visible.sync="addCateDialogVisible"
      width="50%"
    >
      <el-form
        :model="addCateForm"
        :rules="addCateFormRules"
        ref="addCateFormRef"
        label-width="90px"
      >
        <el-form-item label="分类名称" prop="cat_name">
          <el-input v-model="addCateForm.cat_name"></el-input>
        </el-form-item>
        <el-form-item label="父级分类"></el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="addCateDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addCateDialogVisible = false"
          >确 定</el-button
        >
      </span>
    </el-dialog>
    <el-dialog
      title="编辑分类信息"
      :visible.sync="editDialogVisible"
      width="50%"
      @close="editDialogClosed"
    >
      <!-- 内容主体区域 -->
      <el-form
        :model="editForm"
        :rules="addCateFormRules"
        ref="editFormRef"
        label-width="90px"
      >
        <el-form-item label="分类名称" prop="cat_name">
          <el-input v-model="editForm.cat_name"></el-input>
        </el-form-item>
      </el-form>
      <!-- 底部按钮区域 -->
      <span slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="editRoleInfo">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
     

<script>
export default {
  data() {
    return {
      editDialogVisible: false,
      editForm: {
        cat_Name: "",
      },
      parentCateList: [], // 父级分类列表数据

      // 控制添加分类对话框是否显示
      addCateDialogVisible: false,
      addCateForm: {
        cat_name: "", // 将要添加的分类名称
        cat_pid: 0, // 父分类的ID
        cat_level: 0, // 要添加分类的等级，默认要添加的是一级分类
      },
      // 添加分类表单的验证规则对象
      addCateFormRules: {
        cat_name: [
          { required: true, message: "请输入分类名称", trigger: "blur" },
        ],
      },
      breadCrumbObj: {
        second: "商品管理",
        third: "商品分类",
      },
      // 查询条件
      queryInfo: {
        type: 3,
        pagenum: 1,
        pagesize: 5,
      },
      cateList: [], // 商品分类列表数据
      total: 2, // 总数据条数
      columns: [
        {
          label: "分类名称", // 列标题名称
          prop: "cat_name", // 对应列内容的属性名
        },

        {
          label: "排序",
          type: "template",
          template: "order",
        },
        {
          label: "是否有效",
          type: "template",
          template: "isok",
        },
        {
          label: "操作",
          type: "template",
          template: "operate",
        },
      ],
    };
  },
  created() {
    this.getCateList();
  },
  methods: {
    // 获取商品分类数据
    async getCateList() {
      const res = await this.$axios("categories",{},"GET",this.queryInfo,
      );
      if (res.meta.status !== 200) {
        return this.$message.error("获取商品分类失败");
      }
      console.log(res.data);
      this.cateList = res.data.result
      // 带参数请求，返回的数据多一层result，还有总数total，当前页pagenum，当然页条数pagesize
      this.total = res.data.total;
    },
    // 监听 pagesize 改变  
    handleSizeChange(newSize) {
    this.queryInfo.pagesize = newSize
    this.getCateList()
},
    // 监听pagenum 改变
    handleCurrentChange(newPage) {
      this.queryInfo.pagenum = newPage;
      this.getCateList();
    },
    showAddCateDialog() {
      // 获取父级分类的数据列表
      this.getParentCateList();
      this.addCateDialogVisible = true;
    },
    async getParentCateList() {
      const { data: res } = await this.$axios(
        "categories",
        {},
        "GET",
        this.queryInfo
      );
      console.log(res);
      if (res.meta.status !== 200) {
        return this.$message.error("获取父级分类数据失败");
      }
      this.parentCateList = res.data;
    },
    async editCateDialog(id) {
      // 发起根据 id 查询分类的网络请求
      const res = await this.$axios("categories/" + id);

      this.editForm = res.data;
      this.editDialogVisible = true;
    },
    // 监听 编辑分类信息对话框的关闭事件
    editDialogClosed() {
      // 表单内容重置为空
      this.$refs.editFormRef.resetFields(); // 通过ref引用调用resetFields方法
    },
    editRoleInfo() {
      this.$refs.editFormRef.validate(async (valid) => {
        if (!valid) return;
        // 可以发起修改用户信息的网络请求
        const res = await this.$axios(
          "categories/" + this.editForm.cat_id,
          { cat_name: this.editForm.cat_name },
          "PUT"
        );

        this.$message.success("编辑商品分类成功！");
        this.getCateList();
        this.editDialogVisible = false;
      });
    },
    // 监听 删除分类对话框
    delCateDialog(id) {
      console.log(id);
      this.$confirm("此操作将永久删除该分类, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {
          const res = await this.$axios("categories/" + id, {}, "DELETE");
          this.$message({
            type: "success",
            message: res.meta.msg,
          });
          this.getCateList();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.el-icon-success {
  color: lightgreen;
}
.el-icon-error {
  color: red;
}
.treeTable {
  margin-top: 15px;
}
</style>