<template>
  <div class="goods">
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>

    <el-form style="margin-top: 15px">
      <el-row :gutter="20">
        <el-col :span="8">
          <!--搜索区域-->
          <el-input
            placeholder="请输入内容"
            v-model="queryInfo.query"
            clearable
            @clear="getGoodsList"
            @keyup.enter.native="getGoodsList"
          >
            <el-button
              slot="append"
              icon="el-icon-search"
              @click="getGoodsList"
            ></el-button>
          </el-input>
        </el-col>
        <el-col :span="4">
          <el-button type="success" @click="goAddpage">添加商品</el-button>
        </el-col>
      </el-row>
    </el-form>
    <!--商品表格区域-->
    <el-table :data="goodsList" style="width: 100%" border stripe>
      <el-table-column type="index" label="#"></el-table-column>
      <el-table-column prop="goods_name" label="商品名称"></el-table-column>
      <el-table-column
        prop="goods_price"
        label="商品价格(元)"
        width="95px"
      ></el-table-column>
      <el-table-column
        prop="goods_weight"
        label="商品重量"
        width="70px"
      ></el-table-column>
      <el-table-column
        prop="add_time"
        label="创建时间"
        width="140px"
      >
          <template slot-scope="slot">
          {{ slot.row.create_time | handleDate }}
        </template>
      </el-table-column>
      <el-table-column label="操作" width="130px">
        <template slot-scope="scope">
          <!--修改按钮-->
          <el-button
            type="primary"
            size="mini"
            icon="el-icon-edit"
            @click="showEditDialog(scope.row.goods_id)"
          ></el-button>
          <!--删除按钮-->
          <el-button
            type="danger"
            size="mini"
            icon="el-icon-delete"
            @click="removeById(scope.row.goods_id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <!--分页区域-->
    <!-- size-change pageSize改变时会触发 current-change currentPage改变时会触发
    current-page 当前页数 page-sizes 每页显示个数选择器的选项设置 page-size
    每页显示条目个数 total 总条目数 设置 background 属性可以为分页按钮添加背景色 -->
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="queryInfo.pagenum"
      :page-sizes="[10, 30, 50, 100]"
      :page-size="queryInfo.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
      background
    ></el-pagination>
    <!--编辑参数的对话框-->
    <el-dialog
      title="编辑商品"
      :visible.sync="editDialogVisible"
      width="50%"
      @close="editDialogClosed"
    >
      <!--内容主体区域-->
      <el-form
        :model="editForm"
        :rules="editFormRules"
        ref="editFormRef"
        label-width="90px"
      >
        <el-form-item label="商品名称" prop="goods_name">
          <el-input v-model="editForm.goods_name"></el-input>
        </el-form-item>
        <el-form-item label="商品价格" prop="goods_price">
          <el-input v-model="editForm.goods_price"></el-input>
        </el-form-item>
        <el-form-item label="商品数量" prop="goods_number">
          <el-input v-model="editForm.goods_number"></el-input>
        </el-form-item>
        <el-form-item label="商品重量" prop="goods_weight">
          <el-input v-model="editForm.goods_weight"></el-input>
        </el-form-item>
        <el-form-item label="商品介绍" prop="goods_introduce">
          <el-input v-model="editForm.goods_introduce"></el-input>
        </el-form-item>
      </el-form>
      <!--底部按钮区域-->
      <span slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="editGoods">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import dayjs from "dayjs";
export default {
  data() {
    return {
      breadCrumbObj: {
        second: "商品管理",
        third: "商品列表",
      },
      queryInfo: {
        query: "", // 搜索查询参数
        pagenum: 1, // 当前页码
        pagesize: 10, // 当前每页显示条数
      },
      goodsList: [], // 商品列表
      total: 0, // 商品总数
      editDialogVisible: false, // 控制编辑商品对话框是否显示
      // 编辑商品的表单数据对象
      editForm: {
        goods_name: "",
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        goods_cat: [],
      },
      // 编辑商品的验证规则对象
      editFormRules: {
        goods_name: [
          { required: true, message: "请输入商品名称", trigger: "blur" },
        ],
        goods_price: [
          { required: true, message: "请输入商品价格", trigger: "blur" },
        ],
        goods_number: [
          { required: true, message: "请输入商品数量", trigger: "blur" },
        ],
        goods_weight: [
          { required: true, message: "请输入商品重量", trigger: "blur" },
        ],
      },
    };
  },
  created() {
    this.getGoodsList();
  },
  methods: {
    // 根据分页获取对应的商品列表
    async getGoodsList() {
      const res = await this.$axios("goods", {}, "GET", this.queryInfo);
      this.goodsList = res.data.goods;
      this.total = res.data.total;
    },
    // 监听 pageSize 改变的事件
    handleSizeChange(newSize) {
      // console.log(newSize)
      this.queryInfo.pagesize = newSize;
      // 重新发起请求用户列表
      this.getGoodsList();
    },
    // 监听 当前页码值 改变的事件
    handleCurrentChange(newPage) {
      // console.log(newPage)
      this.queryInfo.pagenum = newPage;
      // 重新发起请求用户列表
      this.getGoodsList();
    },
    removeById(id) {
      console.log(id);
      this.$confirm("此操作将永久删除该商品, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {
          const res = await this.$axios("goods/" + id, {}, "DELETE");
          this.$message({
            type: "success",
            message: res.meta.msg,
          });
          this.getGoodsList();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    // 监听 展示编辑商品的对话框
    async showEditDialog(id) {
      this.editDialogVisible = true;
      const res = await this.$axios("goods/" + id);
      this.editForm = res.data;
    },
    // 监听 编辑商品对话框的关闭事件
    editDialogClosed() {
      // 表单内容重置为空
      this.$refs.editFormRef.resetFields();
    },
    // 点击确认 编辑修改商品
    editGoods() {
      this.$refs.editFormRef.validate(async (valid) => {
        if (!valid) return;
        const res = await this.$axios(
          "goods/" + this.editForm.goods_id,
          {
            goods_name: this.editForm.goods_name,
            goods_price: this.editForm.goods_price,
            goods_number: this.editForm.goods_number,
            goods_weight: this.editForm.goods_weight,
            goods_introduce: this.editForm.goods_introduce,
            goods_cat: this.editForm.goods_cat,
          },
          "PUT",
          {}
        );
        this.$message.success("修改商品信息成功！");
        // 关闭对话框
        this.editDialogVisible = false;
        // 重新发起请求商品列表
        this.getGoodsList();
      });
    },
    goAddpage() {
      // 路由导航对象.push函数，跳转到指定的路由页面
      this.$router.push({
        name: "Add",
      });
    },
  },
  filters: {
    handleDate(val) {
      return dayjs(val).format("YYYY-MM-DD HH:mm:ss");
    },
  },
};
</script>

<style >
</style>