<template>
  <div class="params">
    <!--面包屑导航区域-->
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <!--卡片视图区域-->
    <el-form style="margin-top: 15px">
      <!--警告区域-->
      <el-alert
        title="注意：只允许为第三季分类设置相关参数！"
        type="warning"
        show-icon
        :closable="false"
      ></el-alert>
      <!--选择商品分类区域-->
      <el-row class="cat_opt">
        <el-col>
          <span>选择商品分类：</span>
          <!--选择商品分类的级联选择框-->
        </el-col>
      </el-row>
    </el-form>
    <!--选择商品分类的级联选择框-->
    <!-- options用来指定数据源  props用来指定配置对象-->
    <el-cascader
      v-model="selectedCateKeys"
      :options="cateList"
      :props="cateProps"
      @change="cateChanged"
      clearable
    ></el-cascader>
    <!--Tabs标签区域-->
    <el-tabs v-model="activeName" @tab-click="handleTabClick">
      <el-tab-pane label="动态参数" name="many"></el-tab-pane>
      <el-tab-pane label="静态属性" name="only"></el-tab-pane>
    </el-tabs>
    <!--添加参数的按钮-->
<el-button type="primary" size="mini" :disabled="isBtnDisabled">添加参数</el-button>
<!--添加属性的按钮-->
<el-button type="primary" size="mini" :disabled="isBtnDisabled">添加属性</el-button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: {
        second: "商品管理",
        third: "分类参数",
      },
       // 被激活的标签的名称，默认为first
      activeName: 'first',
      cateList: [], // 商品分类列表数据
      // 指定级联选择框的配置对象
      cateProps: {
        expandTrigger: "hover", // 次级菜单的展开方式 click / hover
        value: "cat_id", // 指定选中值的属性
        label: "cat_name", // 指定选中标签的名称
        children: "children", // 指定父子嵌套的属性
      },
      selectedCateKeys: [], // 级联选择框双向绑定 选中的商品分类的ID数组
    };
  },
  created() {
    this.getCateList();
  },
  methods: {
    // 获取所有的商品分类列表
    async getCateList() {
      const res = await this.$axios("categories");

      this.cateList = res.data;
    },
    // 级联选择框选中项变化，会触发这个函数
    cateChanged() {
      console.log(this.selectedCateKeys);
    },
    // 级联选择框选中项变化，会触发这个函数
    cateChanged() {
      // 证明选中的不是三级分类
      if (this.selectedCateKeys.length !== 3) {
        this.selectedCateKeys = [];
        return;
      }
      // 证明选中的是三级分类
      console.log(this.selectedCateKeys);
    },
    // tab标签的点击事件处理函数
    handleTabClick() {
      console.log(this.activeName)
    },



  },
   computed: { // 计算属性
    // 如果按钮需要被禁用 则返回true，否则返回false
    isBtnDisabled() {
      if (this.selectedCateKeys.length !== 3) {
        return true
      }
      return false
    }
  }
};
</script>

<style lang="scss" scoped>
.cat_opt {
  margin: 15px 0;
}
</style>