<template>
  <div class="right">
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <el-table
      margin-top="15px"
      height="600"
      :data="obj"
      border
      style="margin-top: 15px"
    >
      <el-table-column type="index" label="#" width="50"> </el-table-column>
      <el-table-column prop="authName" label="权限名称" width="140">
      </el-table-column>
      <el-table-column prop="path" label="路径" width="120"> </el-table-column>
      <el-table-column prop="level" label="层级">
        <template slot-scope="scope">
          <span v-if="scope.row.level == 0">一级</span>
          <span v-if="scope.row.level == 1">二级</span>
          <span v-if="scope.row.level == 2">三级</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: {
        second: "权限管理",
        third: "权限列表",
      },
      obj: [],
    };
  },
  methods: {
    async getList() {
      const res = await this.$axios(`rights/list`);
      this.obj = res.data;
    },
    
    
  },
  created() {
    this.getList();
  },
};
</script>

<style >
</style>