<template>
  <div class="roles">
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <el-form style="margin-top: 15px" :inline="true">
      <el-form-item>
        <el-button type="primary" @click="openAddRolesDislog">
          添加角色
        </el-button>
      </el-form-item>
    </el-form>
    <el-table :data="rolesList" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="scope">
          <!-- el-row添加样式动态绑定:class="['bdbottom']"，然后添加索引i1，运用三目运算来判断索引为0的时候加bdtop样式： -->
          <el-row  :class="['bdbottom', 'vcenter', i1 == 0 ? 'bdtop' : ' ']"
            v-for="(item1, i1) in scope.row.children"
            :key="item1.id" >
            <!-- 渲染一级权限 -->
            <el-col :span="5">
              <el-tag closable @close="removeRightById(scope.row, item1.id)">{{
                item1.authName
              }}</el-tag>
              <i class="el-icon-caret-right"></i>
            </el-col>
            <!-- 渲染二级和三级 -->
            <el-col :span="19">
              <el-row
                :class="['vcenter', i2 == 0 ? '' : 'bdtop']"
                v-for="(item2, i2) in item1.children"
                :key="item2.id"
              >
                <el-col :span="6">
                  <el-tag
                    closable
                    @close="removeRightById(scope.row, item1.id)"
                    type="success"
                    >{{ item2.authName }}</el-tag
                  >
                  <i class="el-icon-caret-right"></i>
                </el-col>
                <el-col :span="18">
                  <el-tag
                    closable
                    @close="removeRightById(scope.row, item3.id)"
                    v-for="item3 in item2.children"
                    :key="item3.id"
                    type="warning"
                    >{{ item3.authName }}</el-tag
                  >
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column type="index" label="#"> </el-table-column>
      <el-table-column label="角色名称" prop="roleName"> </el-table-column>
      <el-table-column label="角色描述" prop="roleDesc"> </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            size="small"
            @click="openEditRolesDislog(scope.row.id)"
            >编辑
          </el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            size="small"
            @click="openDeleteRolesDialog(scope.row.id)"
            >删除
          </el-button>
          <el-button
            type="success"
            icon="el-icon-setting"
            size="small"
            @click="showSetRightDialog(scope.row.id)"
            >分配权限
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- 添加角色对话框 -->
    <el-dialog
      title="新增角色"
      :visible.sync="dialogVisible"
      :before-close="addDialogClose"
    >
      <el-form
        label-position="right"
        label-width="80px"
        :model="addFormObj"
        :rules="addFormRules"
        ref="addFormRef"
      >
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="addFormObj.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="addFormObj.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelAddForm">取 消</el-button>
        <el-button type="primary" @click="addRoles">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 编辑角色信息 -->
    <el-dialog title="编辑角色信息" :visible.sync="editDialogVisible">
      <el-form
        label-position="right"
        label-width="80px"
        :model="editFormObj"
        ref="editFormRef"
      >
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="editFormObj.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="editFormObj.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelEditForm">取 消</el-button>
        <el-button type="primary" @click="EditRoles">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 分配权限 -->
    <el-dialog
      title="分配权限"
      :visible.sync="setRightDialogVisible"
      width="50%"
    >
      <!--内容主体区域-->
      <!-- 111 -->
      <el-tree 
        :data="rightsList"
        show-checkbox
        node-key="id"
        :default-checked-keys="defKeys"
        default-expand-all
        :props="treeProps"
        ref="treeRef"
      >
      </el-tree>

      <!--底部按钮区域-->
      <span slot="footer" class="dialog-footer">
        <el-button @click="setRightDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="allotRigths"
          >确 定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadCrumbObj: {
        second: "权限管理",
        third: "角色列表",
      },
      // 角色所有权限数据
      rightsList: [],
      // 树形控件的属性绑定对象
      treeProps: {
        children: "children",
        label: "authName",
      },
      // 默认选中所有权限列表
        defKeys:[],

      // 角色列表数据
      rolesList: [],
      // 添加角色的表单数据
      addFormObj: {
        roleName: "",
        roleDesc: "",
      },
      // 编辑角色
      editFormObj: {
        roleName: "",
        roleDesc: "",
      },
      // 新增角色弹窗false
      dialogVisible: false,
      // 编辑角色弹窗 false
      editDialogVisible: false,
      addFormRules: {
        roleName: [
          { required: true, message: "请输入角色名称", trigger: "blur" },
          {
            min: 2,
            max: 10,
            message: "长度在 2 到 10 个字符",
            trigger: "blur",
          },
        ],
        roleDesc: [
          { required: true, message: "请输入角色描述", trigger: "blur" },
          {
            min: 2,
            max: 10,
            message: "长度在 2 到 10 个字符",
            trigger: "blur",
          },
        ],
      },

      // 控制分配角色权限对话框是否显示
      setRightDialogVisible: false,
    };
  },
  methods: {
    // 角色列表数据
    async getRolesList() {
      const res = await this.$axios(`roles`, {}, "GET");

      this.rolesList = res.data;
    },
    // 添加角色弹窗
    openAddRolesDislog() {
      this.dialogVisible = true;
    },

    // 编辑角色弹窗
    async openEditRolesDislog(id) {
      this.editDialogVisible = true;
      const res = await this.$axios("roles/" + id);
      this.editFormObj = res.data;
    },
    // 编辑角色
    async edit() {
      const res = await this.$axios();
    },
    // 添加角色关闭弹窗
    addDialogClose(done) {
      this.$confirm("确认关闭？")
        .then((_) => {
          done();
          this.$refs.addFormRef.resetFields();
        })
        .catch((_) => {});
    },
    // 编辑角色弹框取消按钮
    cancelEditForm() {
      this.editDialogVisible = false;
    },
    // 添加角色弹框取消按钮
    cancelAddForm() {
      this.$refs.addFormRef.resetFields();
      this.dialogVisible = false;
    },
    // 修改角色请求
    async EditRoles() {
      const res = await this.$axios(
        `roles/${this.editFormObj.roleId}`,
        this.editFormObj,
        "PUT"
      );
      // 添加完提示的对话框信息
      this.$message({
        type: "success",
        message: res.meta.msg,
      });
      // this.$message.success('修改角色信息成功！')
      // 关闭对话框
      this.editDialogVisible = false;
      // 不用刷新修改完直接就显示
      this.getRolesList();
    },
    // 删除角色请求
    openDeleteRolesDialog(id) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {
          const res = await this.$axios("roles/" + id, {}, "DELETE");
          this.$message({
            type: "success",
            message: res.meta.msg,
          });
          this.getRolesList();
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    // 添加角色
    addRoles() {
      this.$refs.addFormRef.validate(async (validate) => {
        if (!validate) return;
        if (validate) {
          const res = await this.$axios("roles", this.addFormObj, "POST");
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
          this.dialogVisible = false;
          this.getRolesList();
          this.$refs.addFormRef.resetFields();
        }
      });
    },
    // 二级菜单3列的X删除
    removeRightById(role, rightId) {
      console.log(role.id);
      console.log(rightId.id);
      this.$confirm("此操作将永久删除权限, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {
          const res = await this.$axios(
            `roles/${role.id}/rights/${rightId}`,
            {},
            "DELETE"
          );
          this.$message({
            type: "success",
            message: res.meta.msg,
          });
          // this.getRolesList()
          /* 返回的data, 是当前角色下最新的权限数据，所以可以直接使用这个data渲染权限列表：
           */
          role.children = res.data;
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
          });
        });
    },
    // 点击分配权限
    async showSetRightDialog(id) {
      this.setRightDialogVisible = true;
      const res = await this.$axios("rights/tree");
      this.rightsList = res.data;
    },
    async allotRigths(){
      const keys=[
        ...this.$refs.treeRef.getCheckedKeys(),
        ...this.$refs.treeRef.getHalfCheckedKeys()
      ]
      console.log(keys)
      const idStr = keys.join(',')
    }
  },
  created() {
    this.getRolesList();
  },
};
</script>

<style lang="scss" scope>
// 在全局样式表中指定页面最少宽度
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.el-tag {
  margin: 7px;
}
.bdtop {
  border-top: 1px solid #eee;
}
.bdbottom {
  border-bottom: 1px solid #eee;
}
// 添加一级、二级垂直居中对齐样式
.vcenter {
  display: flex;
  align-items: center;
}
</style>