<template>
  <div class="orders">
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <el-form style="margin-top: 15px">
      <el-row>
        <el-col :span="8">
          <!--搜索区域-->
          <el-input placeholder="请输入内容" v-model="queryInfo.query">
            <el-button slot="append" icon="el-icon-search" ></el-button>
          </el-input>
        </el-col>
      </el-row>
    </el-form>
    <el-table :data="orderList" border stripe>
      <el-table-column type="index" label="#"></el-table-column>
      <el-table-column
        label="订单编号"
        prop="order_number"
        width="300px"
      ></el-table-column>
      <el-table-column label="订单价格" prop="order_price"></el-table-column>
      <el-table-column label="是否付款" prop="pay_status">
        <template slot-scope="scope">
          <el-tag type="danger" v-if="scope.row.pay_status === '0'"
            >未付款</el-tag
          >
          <el-tag type="success" v-else>已付款</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="是否发货" prop="is_send"></el-table-column>
      <el-table-column label="下单时间" prop="create_time" width="140px">
        <template slot-scope="slot">
          {{ slot.row.create_time | handleDate }}
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template >
          <!--修改按钮-->
          <el-button type="primary" size="mini" icon="el-icon-edit" ></el-button>
          <!--地址按钮-->
          <el-button
            type="success"
            size="mini"
            icon="el-icon-location"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <!--分页区域-->
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="queryInfo.pagenum"
      :page-sizes="[5, 10, 20]"
      :page-size="queryInfo.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
      background
    ></el-pagination>
  </div>
</template>

<script>
import dayjs from "dayjs";
export default {
  data() {
    return {
      breadCrumbObj: {
        second: "订单管理",
        third: "订单列表",
      },
      // 获取订单列表的参数对象
      queryInfo: {
        query: "",
        pagenum: 1,
        pagesize: 10,
      },
      orderList: [], // 订单列表
      total: 0, // 订单总数
    };
  },
  created() {
    this.getOrderList();
  },
  methods: {
    async getOrderList() {
      const res = await this.$axios("orders", {}, "GET", this.queryInfo);
      this.orderList = res.data.goods;
      this.total = res.data.total;
    },
    // 监听 pageSize 改变的事件
    handleSizeChange(newSize) {
      this.queryInfo.pagesize = newSize;
      this.getOrderList();
    },
    // 监听 当前页码值 改变的事件
    handleCurrentChange(newPage) {
      this.queryInfo.pagenum = newPage;
      this.getOrderList();
    },
  },
   filters: {
    handleDate(val) {
      return dayjs(val).format("YYYY-MM-DD");
    },
  },
};
</script>

<style >
</style>