<template>
  <el-container class="home" style="height: 100vh">
    <el-aside width="200px" style="background-color: rgb(0, 21, 41);overflow-x:hidden;">
      <h4 class="home-logo">后台管理系统</h4>
      <el-menu
        :default-active="defaultActive"
        unique-opened
        background-color="#001529"
        style="width:200px;"
        text-color="rgb(160,161,163)"
        active-text-color="#fff"
        router
      >
        <el-submenu  :index="''+index" v-for="(item,index) in menus" :key="item.id">
          <template slot="title">
            <i  :class="{
              'el-icon-user-solid':Number(item.authName==='用户管理'),
              'el-icon-more':Number(item.authName==='权限管理'),
              'el-icon-s-goods':Number(item.authName==='商品管理'),
              'el-icon-s-order':Number(item.authName==='订单管理'),
              'el-icon-s-data':Number(item.authName==='数据统计'),
              }">
            </i>

             {{item.authName}}
          </template>  
          <el-menu-item :index="'/'+_item.path" v-for="(_item) in item.children" :key="_item.id" >{{_item.authName}}</el-menu-item>
        </el-submenu>
      </el-menu>
    </el-aside>

    <el-container>
      <el-header style="text-align: right; font-size: 12px">
        <el-dropdown>
          <i class="el-icon-setting" style="margin-right: 15px"></i>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item @click.native="logout">退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <span>王小虎</span>
      </el-header>
 

      <el-main class="home-main">

        <div class="home-main-wrap">
         <router-view>
           
        </router-view>
        </div>

      </el-main>

    </el-container>
  </el-container>
</template>
<style lang="scss" scoped>
$px15: 15px;
.home {
  .home-logo {
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
  }
  .el-header {
    background-color: #fff;
    color: #333;
    line-height: 60px;
  }

  .el-aside {
    color: #333;
  }
  .home-main {
    background-color: rgb(238, 238, 238);
    .home-main-wrap {
      padding: $px15;
      background: #fff;
      border-radius: 5px;
      height: calc(100vh - 100px);
      box-sizing: border-box;
      overflow-x: hidden;
    }
  }
}
</style>

<script>
export default {
  data() {
    return {
      menus: [],
      defaultActive:''
    };
  },
  watch:{
    $route:{
      deep:true,
      immediate:true,
      handler(current){
        this.defaultActive=current.path
      }
    }
  },
  methods: {
    // 获取左侧权限菜单列表接口名字
    async getRights() {
      const res = await this.$axios("menus");
      //  console.log(res) 不信后台自己打印一下
      this.menus = res.data;
    },
    // 退出 清楚token
    logout(){
      this.$confirm('确定退出系统?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'info'
      }).then(() => {
        this.$store.commit('SET_TOKEN', '')
        this.$message({
          type: 'success',
          message: '退出成功!'
        })
        setTimeout(() => {
          this.$router.push({
            name:'Login'
          })
        }, 1000)
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消退出'
        })
      })
    }
  },
  created() {
    this.getRights();
  }
};
</script>