<template>
  <div class="login">
    <div class="login-card">
      <h3 class="login-card-title">欢迎登陆</h3>
      <el-form class="login-card-form" ref="form" :rules="rules" :model="userForm" size="small" @keyup.enter.native="login">
        <el-form-item prop="username">
          <el-input placeholder="请输入内容" v-model="userForm.username">
            <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input type="password" placeholder="请输入密码" v-model="userForm.password">
            <el-button slot="prepend" icon="el-icon-lock"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="login" type="primary" class="width100">登录</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    var validateName = (rule, value, callback) => {
      let paten = /^[a-zA-Z0-9_-]{4,16}$/;
      if (!paten.test(value)) {
        callback(new Error("用户名必须是4-16位"));
      } else {
        callback();
      }
    };
    return {
      labelPosition: "right",
      userForm: {
        username: "",
        password: ""
      },
      rules: {
        username: [{ validator: validateName, trigger: "change" }],
        password: [
          {
            required: true,
            message: "请输入密码",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    login() {
 /*          this.$axios
            .post("login", this.userForm)
            .then(res => {
              //http状态码
              if (
                (res.status >= 200 && res.status < 300) ||
                res.status === 304
              ) {
                //后台设置的状态码(后台接口)
                if (res.data.meta.status === 200) {
                  this.$message({
                    message: res.data.meta.msg,
                    type: "success"
                  });
                  this.$router.push({
                    name: "Home"
                  });
                } else {
                  this.$message({
                    message: res.data.meta.msg,
                    type: "error"
                  });
                }
              } else {
                this.$message({
                  message: res.statusText,
                  type: "error"
                });
              }
              console.log(res);
            })
            .catch(err => {
              console.log(err);
            });
         */
        this.$refs.form.validate(valid => {
        if (valid) {
          this.$axios("login",this.userForm,"POST").then(res=>{
            console.log(res.meta.msg)
            this.$message({
              message:res.meta.msg,
              type:"success"
            })
          this.$store.commit("SET_TOKEN",res.data.token)
          this.$router.push({
            name:"Index"
          })
          })
        } else {
          return false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.login {
  background-image: url("https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .login-card {
    width: 300px;
    background: #fff;
    margin-right: 160px;
    // padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    .login-card-title {
      font-size: 14px;
      font-weight: 700;
      border-bottom: 1px solid #ddd;
      padding: 15px;
      box-sizing: border-box;
    }
    .login-card-form {
      padding: 15px;
    }
    .width100 {
      width: 100%;
    }
  }
}
</style>
