<template>
  <div class="users">
    <bread-crumb :breadCrumbObj="breadCrumbObj"></bread-crumb>
    <el-form style="margin-top: 15px" :inline="true">
      <el-form-item>
        <el-input
          style="width: 300px"
          placeholder="请输入内容"
          v-model="query"
          class="input-with-select"
          clearable
          @clear='searchUsers'
          @keyup.enter.native="searchUsers"
        >
          <el-button
            slot="append"
            @click="searchUsers"
            icon="el-icon-search"
          ></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="openAddUsersDialog"
          >添加用户</el-button
        >
      </el-form-item>
    </el-form>

    <el-table :data="obj.users" border>
      <el-table-column type="index" label="#" width="50"> </el-table-column>
      <el-table-column
        prop="username"
        label="用户名"
        width="140"
      ></el-table-column>
      <el-table-column prop="email" label="邮箱" width="140"></el-table-column>
      <el-table-column prop="mobile" label="电话" width="140"></el-table-column>
      <el-table-column prop="create_time" label="日期" width="140">
        <template slot-scope="slot">
          {{ slot.row.create_time | handleDate }}
        </template>
      </el-table-column>
      <el-table-column label="用户状态">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.mg_state"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @change="editUsersStatus(scope.row)"
          >
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            size="small"
            @click="openEditUsersDialog(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            size="small" @click="openDeleteUsersDialog(scope.row.id)"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            circle
            size="small" @click="openDistributeRoleDialog(scope.row)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top: 15px"
      :current-page="params.pagenum"
      :page-sizes="[2, 3, 4, 15]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="obj.total"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    >
    </el-pagination>
    
    <el-dialog
      title="新增用户"
      :visible.sync="dialogVisible"
      :before-close="handleClose"
    >
      <el-form
        label-position="right"
        label-width="80px"
        :model="addUserObj"
        :rules="addUsersRules"
        ref="addUsersForm"
      >
        <el-form-item label="用户名" prop="username">
          <el-input v-model="addUserObj.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="addUserObj.password"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="addUserObj.email"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="mobile">
          <el-input v-model="addUserObj.mobile"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelAddUsers">取 消</el-button>
        <el-button type="primary" @click="addUsers">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑用户" :visible.sync="editDialogVisible">
      <el-form
        label-position="right"
        label-width="80px"
        :model="editUserObj"
        ref="editUsersForm"
      >
        <el-form-item label="用户名">
          <el-input disabled v-model="editUserObj.username"></el-input>
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input v-model="editUserObj.email"></el-input>
        </el-form-item>
        <el-form-item label="手机号">
          <el-input v-model="editUserObj.mobile"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelEditUsers">取 消</el-button>
        <el-button type="primary" @click="editUsers">确 定</el-button>
      </span>
    </el-dialog>
    <DistributeRole  ref="distributeRole" v-on:handleDistributeRole="getUsers"></DistributeRole>
  </div>
</template>

<script>
import dayjs from "dayjs";
import DistributeRole from "../components/DistributeRole";
export default {
  components:{
    DistributeRole
  },
  data() {
    const item = {
      date: "2016-05-02",
      name: "王小虎",
      address: "上海市普陀区金沙江路 1518 弄",
    };
    return {
      tableData: Array(20).fill(item),
      menus: [],
      breadCrumbObj: {
        second: "用户管理",
        third: "用户列表",
      },
      params: {
        query: "",
        pagenum: 1,
        pagesize: 15,
      },
      query: "",
      obj: {
        users: [],
      },
      dialogVisible: false,
      editDialogVisible: false,
      addUserObj: {
        username: "",
        password: "",
        email: "",
        mobile: "",
      },
      addUsersRules: {
        username: [
          { required: true, message: "用户名不能为空", trigger: "blur" },
          { min: 3, max: 5, message: "长度在 3 到 5 个字符", trigger: "blur" },
        ],
        password: [
          { required: true, message: "密码不能为空", trigger: "blur" },
        ],
        mobile: [],
        email: [],
      },
      editUserObj: {
        username: "",
        email: "",
        mobile: "",
      },
      status:false
    };
  },
  methods: {
    // 首次进来获取用户列表
    async getUsers() {
      // const res=await this.$axios(`users?query={this.params.query}&pagenum=&{this.params.pagenum}&pagesize=&{this.params.pagesize}`)
      const res = await this.$axios(`users`, {}, "GET", this.params);
      // for(let i=0;i<res.data.users.length;i++){
      //   res.data.users[i].create_time=dayjs(res.data.users[i].created_time).format('YYYY-MM-DD HH:mm:ss' )
      // }
      this.obj = res.data;
    },
    // 每页条数发生变化，获取用户列表
    handleSizeChange(val) {
      setTimeout(async() => {
        this.params.pagesize = val;
        console.log('页码跳转了', val)
        const res = await this.$axios(`users`, {}, "GET", {
          ...this.params,
          // pagenum:val,
        });
        this.obj = res.data;
      }, 100);
    },
    // 页码跳转
    async handleCurrentChange(val) {
      console.log('页码跳转了', val)
      this.params.pagenum = val;
      const res = await this.$axios(`users`, {}, "GET", {
        ...this.params,
        // pagenum:val,
      });
      this.obj = res.data;
    },
    async searchUsers() {
      const res = await this.$axios(`users`, {}, "GET", {
        ...this.params,
        query: this.query,
      });
      this.params.query = this.query;
      this.obj = res.data;
    },
    // 修改用户状态 11.4日
    async editUsersStatus(obj) {
      // console.log(obj)
      const res = await this.$axios(
        `users/${obj.id}/state/${obj.mg_state}`,
        {},
        "PUT"
      );
      this.$message({
        message: res.meta.msg,
        type: "success",
      });
    },
    // 添加用户弹窗
    openAddUsersDialog() {
      this.dialogVisible = true;
    },
    //编辑用户弹窗
    openEditUsersDialog(obj) {
      this.editDialogVisible = true;
      let { username, email, mobile, id } = obj;
      this.editUserObj.username=username
      this.editUserObj.email=email
      this.editUserObj.mobile=mobile
      this.editUserObj.id=id

      //  把obj深拷贝，不然编辑改了取消就改了
      // this.editUserObj = JSON.parse(JSON.stringify(obj));
    },
    // 编辑用户关闭谈窗
    cancelEditUsers() {
      this.editDialogVisible = false;
    },
    // 编辑用户
    async editUsers() {
      const res = await this.$axios(`users/${this.editUserObj.id}`,this.editUserObj,
        "PUT"
      );
      this.$message({
        type: "success",
        message: res.meta.msg,
      });
      this.editDialogVisible = false;

      this.getUsers();
    },
    // 添加用户关闭弹窗
    handleClose(done) {
      this.$confirm("确认关闭？")
        .then((_) => {
          done();
          this.$refs.addUsersForm.resetFields();
        })
        .catch((_) => {});
    },
    // 添加用户
    addUsers() {
      this.$refs.addUsersForm.validate(async (validate) => {
        if (validate) {
          const res = await this.$axios("users", this.addUserObj, "POST");
          this.$message({
            message: res.meta.msg,
            type: "success",
          });
          this.dialogVisible = false;
          this.getUsers();
          this.$refs.addUsersForm.resetFields();
          // this.addUserObj.username='';
          // this.addUserObj.password='';
          // this.addUserObj.email='';
          // this.addUserObj.mobile='';
          // for (let i in this.addUserObj) {
          //   this.addUserObj[i] = "";
          // }
        } else {
          return false;
        }
      });
    },
    cancelAddUsers() {
      // for (let i in this.addUserObj) {
      //   this.addUserObj[i] = "";
      // }
      this.$refs.addUsersForm.resetFields();

      this.dialogVisible = false;
    },

    openDistributeRoleDialog(obj){
      this.$refs.distributeRole.dialogVisible=true
      this.$refs.distributeRole.obj=obj
      this.$refs.distributeRole.getRoleId()
      this.$refs.distributeRole.getRoleLists()
    },
    // 删除用户弹窗
    openDeleteUsersDialog(id){
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(async() => {
         const res= await this.$axios('Users/'+id,{},'DELETE')
          this.$message({
            type: 'success',
            message: res.meta.msg
          });
          this.getUsers()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });
    }
  },
  filters: {
    handleDate(val) {
      return dayjs(val).format("YYYY-MM-DD HH:mm:ss");
    },
  },
  created() {
    this.getUsers();
  },
};
</script>

<style >
</style>