<template>
  <div class="distribute-role">
    <el-dialog title="分配角色" :visible.sync="dialogVisible" width="30%">
      <el-form :model="obj" label-width="80px">
        <el-form-item label="用户名">
          <el-input disabled v-model="obj.username"></el-input>
        </el-form-item>
        <el-form-item label="角色">
          <el-select
            v-model="obj.rid"
            placeholder="请选择"
            @change="handleChange"
          >
            <el-option  label="请选择" :value="-1"></el-option>
            <el-option
              v-for="item in roleLists"
              :value="item.id"
              :key="item.id"
              :label="item.roleName"
            >
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleConfirm">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialogVisible: false,
      obj: {
        username: "",
        id: "",
        rid: "",
      },
      roleLists: [],
    };
  },
  methods: {
   async handleConfirm() {
    const res= await this.$axios(`users/${this.obj.id}/role`,{
      rid:this.obj.rid
    },'PUT')
    this.$message({
      message:res.meta.msg,
      type:'success'
    })
    this.dialogVisible=false

    this.$emit('handleDistributeRole')
},
    //   获取角色id
    async getRoleId() {
      const res = await this.$axios(`users/${this.obj.id}`);
      this.obj.rid = res.data.rid;
    },
    //  获取角色列表
    async getRoleLists() {
      const res = await this.$axios("roles");
      this.roleLists = res.data;
    },
    handleChange(val) {
      // this.obj.rid = val;
      // this.obj=Object.assign({},this.obj)

      this.obj.rid = val;
      this.$forceUpdate();


    },
  },

};
</script>

<style>
</style>